<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Purry Boutique</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1>Checkout Complete</h1>
    <p>Here is your QR code:</p>
    <div class="qrcode">
      <img src="<%= qrCodeUrl %>" alt="QR Code" />
    </div>
    <a href="/products">Go back to shopping</a>
  </body>
</html>
