<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Products</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1>Available Products</h1>
    <div class="product-list">
        <% products.forEach(product => { %> 
        <div class="product">
            <h2><%= product.name  %></h2>
            <p>Category: <%= product.category %></p>
            <p>Price: Kshs<%= product.price %></p>
            <p>Stock: <%= product.stock %> available</p>
        </div>
       <% }) %>
    </div>
  </body>
</html>
